<div class="navbar"> 
    <ul>
        <% if (user) { %>
            <li><form class="logoutForm" action="/logout" method="POST"><button class="logoutBtn" type="submit">Log Out</button></form></li>
        <% } else { %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/todos">To Dos</a></li>
        <% } %>
    </ul> 
</div>